.container {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: large;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.weather-container {
  height: 440px;
  overflow: auto;
}

.data-container {
  font-size: large;
  padding-top: 20px;
}
